<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "css.html" . }}
  </head>
  <body>
    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>

    {{ partial "navbar.html" . }}
    {{ partial "navbar-clone.html" . }}

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-centered">
            <h1 class="title section-title">{{ .Title }}</h1>
            <h5 class="subtitle is-muted">{{ .Params.Subtitle }}</h5>
            <div class="divider"></div>
          </div>
        </div>
        {{ .Content }}
      </div>
    </section>

    <pre>
    {{ . }}
    {{ $boardpage := .GetPage "/board/_index.md" }}
    {{ $boardpage }}
    {{ $placeholderR := $boardpage.Resources.GetMatch "placeholder.jpg" }}
    {{ $placeholderR }}
    {{ $placeholder := $placeholderR.Fill "150x150" }}
    </pre>

    {{ range .Pages }}
    <section class="section container">
      <div class="tile is-ancestor">
        <div class="tile is-parent box">
          <div class="tile is-child is-2">
            <img src="placeholder.jpg" width="150" height="150" />
          </div>
          <div class="tile is-child is-10">
            <h2>{{ .Params.Name }}</h2>
            <h4>{{ .Params.Title }}</h4>
            {{ .Content }}
          </div>
        </div>
      </div>
    </section>
    {{ end }}

    {{ partial "footer.html" . }}
    {{ partial "javascript.html" . }}
  </body>
</html>