<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "css.html" . }}
  </head>
  <body>
    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>

    {{ partial "navbar.html" . }}
    {{ partial "navbar-clone.html" . }}

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-centered">
            <h1 class="title section-title">{{ .Title }}</h1>
            <h5 class="subtitle is-muted">{{ .Params.Subtitle }}</h5>
            <div class="divider"></div>
          </div>
        </div>
        {{ .Content }}
      </div>
    </section>

    {{- $placeholderR := .Resources.GetMatch "placeholder.jpg" }}
    {{- $placeholder := $placeholderR.Fill "150x150 q90" }}

    {{- range .Resources.ByType "page" }}
    {{- $headshot := $placeholder }}
    {{- if (isset .Params "headshot") }}
    {{- $headshot = .Resources.GetMatch (.Params.headshot) }}
    {{- end }}
    <section class="section container">
      <div class="tile is-ancestor">
        <div class="tile is-parent box">
          <div class="tile is-child is-2">
            <img src="{{$headshot.RelPermalink}}" width="{{$headshot.Width}}" height="{{$headshot.Height}}" />
          </div>
          <div class="tile is-child is-10">
            <h2>{{ .Params.Name }}</h2>
            <h4>{{ .Params.Title }}</h4>
            {{ .Content }}
          </div>
        </div>
      </div>
    </section>
    {{- end }}

    {{ partial "footer.html" . }}
    {{ partial "javascript.html" . }}
  </body>
</html>