<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "css.html" . }}
  </head>
  <body>
    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>
    {{ partial "navbar.html" . }}
    {{ partial "navbar-clone.html" . }}

    {{ partial "single/content.html" . }}

    {{ partial "footer.html" . }}
    {{ partial "javascript.html" . }}
  </body>
</html>
